body {
    background-image: url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2014/10/06/10/Cristiano-Ronaldo.jpg?width=1200&height=1200&fit=crop);
    background-size: 80%;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 500%;
    text-decoration: underline;
    color:#ff9292
    
}


h2 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 40px;
    color:#ffffff;
    border: solid 1px #e8d71d;
    background-color: #d24115;
    opacity: 90%;
    padding: 10px;
    
}
    
p {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #2e57c7;
    background-color: #d29615; opacity: 90%;
    font-family: "Lucinda Handwriting", "Brush Script MT", cursive;
    font-size: 40px;
}
